<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="twoArgsInt1" value="11,665"/>
    <add key="twoArgsInt2" value="12,-5"/>
    <add key="twoArgsInt3" value="-12,99"/>
    <add key="twoArgsInt4" value="-22,1"/>

    <add key="twoArgsReal1" value="12.2,-5.3"/>
    <add key="twoArgsReal2" value="-12.1,99.22"/>
    <add key="twoArgsReal3" value="-22.0,1.999"/>
    
    <add key="RealValues" value="0.3,-0.2,1.2,3.5,19.3,-111,0.1,0"/>
    <add key="IntValues" value="3,2,0,-2,5,-111,-9"/>
    
    <add key="NegativeReal" value="-2.3,-1.3,-44.2,-111.99"/>
    <add key="PositiveReal" value="0.3,1.25,44"/>
    
    <add key="PositiveInt" value="4,1000,77,1"/>
    <add key="NegativeInt" value="-1000,-4,-47,-1"/>
    
    <add key="NotNumberArgs" value="one,7f,3.41t,'',0x7FFFFFFF"/>
    
  </appSettings>
  
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>


